{% extends "posts/base.html" %}
{% load crispy_forms_tags %}


{%block content%}

    <div class="container">
        <div class="topbar">
            <h1 class="title">Login</h1>
        </div>

        <form method="post" class="signup" enctype="multipart/form-data">
            {% csrf_token %}
            {{form|crispy}}

            <div class="d-flex p-2 align-items-center gap-10">

            <button type="submit" class="btn btn-primary mr-2" type="submit">Login</button>
            <a href="{% url 'password_reset' %}" 
            class="text-white text-decoration-none ml-2 {% if request.path == '/users/password_reset'%}active{% endif %}">Forgot password</a>

            </div>
        </form>

    </div>


{% endblock %}