{% extends "posts/base.html" %}
{% load crispy_forms_tags %}


{%block content%}

    <div class="container">
        <div class="topbar">
            <h1 class="title">Logout</h1>
        </div>

        <p>Hello {{user.username|capfirst }}, Are you sure that you want to logout of your account?</p>

        <form action="{% url 'logout' %}" method="post" class="signup" enctype="multipart/form-data">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Logout</button>
        </form>

    </div>


{% endblock %}