@import url('https://cdn-uicons.flaticon.com/3.0.0/uicons-bold-straight/css/uicons-bold-straight.css');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --body-color: #659157;
    --text-white: white;
    --border-btm: rgba(255, 255, 255, 0.05);
    --bg-nav: #A1C084; 
    --clr1: #ECF39E;
    --clr2: #90A955;
    --clr3: #4F772D;
    --clr4: #31572C;
    --clr5: #132A13;
}

body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: var(--body-color);
    color: var(--text-white);
}

.navbar{
    position: sticky;
    width: 100%;
    max-width: 1400px;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--border-btm);
    backdrop-filter: blur(15px);
    background: var(--bg-nav);

    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header-logo{
    margin: 3px;
    margin-right: auto;
}

.header-logo img{
    width: 90px;
    border-radius: 55%;
}

.header-logo a{
    text-decoration: none;
    display: flex;
    align-items: center;
    gap: 3px;
}

.header-logo a h1{
    line-height: 2;
    font-size: 1.8rem;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: var(--clr5);
}

.navbar .nav-links{
    width: fit-content;
    margin: 30px;
    padding: 10px;
    display: flex;
    gap: 1rem;
    list-style: none;
    background-color: var(--clr1);
    border-radius: 9px;
}

.navbar .nav-links li a{
    position: relative;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase !important;
    font-weight: 500;
    color: var(--clr5);
}

.nav-links li a.active,
.nav-links li a:hover{
    background: var(--clr3);
    color: var(--clr1);
    padding: 8px 16px;
    border-radius: 5px;
}

.navbar .nav-signup{
    margin: 10px;
    padding: 5px;
    display: flex;
    gap: 10px;
}

.navbar .nav-signup a{
    padding: 8px 16px;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--clr5);
}

.navbar .nav-signup a.active,
.navbar .nav-signup a:hover{
    background: var(--clr1);
    color: var(--clr3);
    padding: 8px 16px;
    border-radius: 5px;
}